@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-500;
  margin: 0;
  background-color: #FBFCFF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, #root, .App {
  @apply min-h-screen;
}

.calendar-wrapper {
  @apply bg-white rounded-2xl p-6;
  box-shadow: 10px 10px 50px 10px #EEF3FD;
}
.react-calendar__tile {
  @apply text-sm flex items-center justify-center focus:outline-none;
  width: 31px;
  height: 31px;
}
.react-calendar__month-view__weekdays__weekday {
  @apply text-center;
  font-size: 14px;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}
.react-calendar__tile--now abbr {
  @apply inline-block text-white bg-blue-700 rounded-full !important;
  width: 30px;
  line-height: 30px;
}
.react-calendar__tile--active abbr {
  @apply inline-block text-pink-600 bg-pink-100 rounded-full;
  width: 30px;
  line-height: 30px;
}
.react-calendar__navigation, .react-calendar__month-view__weekdays {
  @apply mb-4;
}

.btn-new-task {
  @apply bg-blue-700 hover:bg-blue-600 transition-all duration-300 ease-in-out focus:outline-none text-white rounded-2xl px-3 py-1;
}
.search {
  @apply border border-blue-700 placeholder-blue-700 bg-transparent focus:bg-white focus:outline-none rounded-2xl text-center p-3;
}
.todo {
  @apply bg-white rounded-2xl p-6;
  box-shadow: 10px 10px 50px 10px #EEF3FD;
}
.react-calendar__navigation > * {
  @apply font-bold;
}
.react-calendar__navigation__label {
  @apply order-1 mr-auto;
  @apply flex-grow-0 !important;
}
.react-calendar__navigation__prev-button {
  @apply order-2;
}
.react-calendar__navigation__next-button {
  @apply order-3 ml-3;
}
.modal-dialog {
  background-color: #FBFCFF;
}